:root {
    --primary-color: #CFA55B;
    --font-main: "MuseoModerno", sans-serif;
}

@mixin flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-styles {
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}